<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  
  
  <system.serviceModel>
    <services >
      <service name="TracingAndLoging.TimViec">
        <endpoint address="" binding="wsHttpBinding" contract="TracingAndLoging.TimViec">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

      </service>
    </services>
    
    <!--Binding-->
     <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITimViec" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>

    <!--BeHavior-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 
  
  <!--TRACING-->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing"
			  propagateActivity="true">
        <listeners>
          <add name="xml"></add>
          <add initializeData="C:\Users\HELLO\Documents\Visual Studio 2010\Projects\Form_Host\Form_Host\bin\Tracing1.svclog" type="System.Diagnostics.XmlWriterTraceListener"  name="trace"  />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"></add>
          <add type="System.Diagnostics.XmlWriterTraceListener"
						 initializeData="C:\Users\HELLO\Documents\Visual Studio 2010\Projects\Form_Host\Form_Host\bin\MessageLog1.svclog" name="message">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\HELLO\Documents\Visual Studio 2010\Projects\Form_Host\Form_Host\bin\TracingAndLogging-service.svclog" type="System.Diagnostics.XmlWriterTraceListener"
				  name="xml"/>
    </sharedListeners>
    <trace autoflush="false" />
    <!--autoflush = true log -->
  </system.diagnostics>



</configuration>



<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Form_Host.Service1">
                <endpoint address="" binding="wsHttpBinding" contract="Form_Host.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Form_Host/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Form_Host.Timviec">
                <endpoint address="" binding="wsHttpBinding" contract="Form_Host.ITimviec">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Form_Host/Timviec/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITimViec" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/TimViec_ServiceLibrary/TimViec/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITimViec"
                contract="TimViec_SReference.ITimViec" name="WSHttpBinding_ITimViec">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>-->
<!--
    </system.serviceModel>
</configuration>-->